<p>
  <mat-toolbar color="primary">
    <span>Union Software - HOTEL MANAGE</span>
  </mat-toolbar>
</p>

  <div class="bnt_cadastrar">
    <!-- cliente -->
    <div class="cliente">
      <button mat-raised-button color="primary" style="width: 200px;">Cadastrar Cliente</button>
     <mat-card>
      <mat-card-header>
        Listagem de clientes
      </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <div class="lista_item">
              <mat-list-item role="listitem">Item 1</mat-list-item>

              <div class="icon_list">
                <button mat-button color="warn">
                  <mat-icon>close</mat-icon>
                </button>
                <button mat-button color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="primary">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </div>
            </div>
          </mat-list>
        </mat-card-content>
     </mat-card>
    </div>
    <!-- Quartos -->

    <div class="cliente">
      <button mat-raised-button color="primary" style="width: 200px;">Cadastrar Quartos</button>
     <mat-card>
      <mat-card-header>
        Listagem de quartos
      </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <div class="lista_item">
              <mat-list-item role="listitem">Item 1</mat-list-item>

              <div class="icon_list">
                <button mat-button color="warn">
                  <mat-icon>close</mat-icon>
                </button>
                <button mat-button color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="primary">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </div>
            </div>
          </mat-list>
        </mat-card-content>
     </mat-card>
    </div>
  </div>
