<h1 mat-dialog-title>Cadastro Cliente</h1>
<div mat-dialog-content class="dialogo-entrada">
  <form [formGroup]="clienteForm" (ngSubmit)="salvarCliente()" class="form">
    <mat-form-field>
      <input matInput type="text" placeholder="Nome" formControlName="nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="cpf" formControlName="cpf">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="rg" formControlName="rg">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="E-mail" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Telefone" formControlName="telefone">
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-raised-button>Salvar</button>
    </mat-dialog-actions>
  </form>


</div>
